**/.DS_Store
nbproject
manifest.mf
build.xml

node_modules

.project
.settings
.idea/*

_public
node_modules/*
npm-debug.log

config/runtime.json

test/test-results.xml
coverage/

# Bower stuff.
bower_components/
