blockquote.quote(ng-controller="newQuoteController")
  alert(ng-if="alert", type="alert.type") {{ alert.msg }}
  form
    .form-group
      label(for="text") Quote
      textarea.text(name="quote.text", placeholder="What did (s)he say?", ng-model="quote.text")
    .form-group
      label(for="author") Author
      friends-autocomplete.author(model="quote.author", placeholder ="Who said that?", name="author")
    button(type="submit", ng-click="send()")
      i.glyphicon.glyphicon-send
      |  Send
