alert(ng-if="alert", type="alert.type") {{ alert.msg }}
blockquote(ng-if="quote.text")
  profile-pic(facebook-id="quote.author.id")
  .quote
    span.author {{ quote.author.name }}
    span.text {{ quote.text }}
  .infos reported 
    time-ago(date="quote.creationDate")
  .actions
    div.fb-like(
      data-href="{{url}}"
      data-layout="button_count"
      data-send="false"
      )
    button.delete(ng-click="delete()")
      i.glyphicon.glyphicon-remove
      span.action-text  Delete
    a.permalink(href="{{url}}")
      i.glyphicon.glyphicon-link
      span.action-text  Permalink
