alert(ng-if="alert", type="alert.type") {{ alert.msg }}
blockquote(ng-if="quote.text")
  profile-pic(facebook-id="quote.author.id")
  .quote
    span.author {{ quote.author.name }}
    span.text {{ quote.text }}
  .infos reported 
    time-ago(date="quote.creationDate")
  .actions
    button.delete(ng-click="delete()")
      i.glyphicon.glyphicon-remove
      span  Delete
    a.permalink(href="#/quote/{{quote._id}}")
      i.glyphicon.glyphicon-link
      span  Permalink
